.main-sign-in{
    display: flex;
    align-items: center;
    width: 11.5%;
    height: 100% ;
    background-color: #D82B2B;   
    

}

.sign-in-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
     
}

.sign-in-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;

     

    
}

.sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 60%;
    font-size: 1vw;
}
.sign-in-logo{
    display: flex;  
    align-items: center;
    width: 1vw;
}
ul{
    list-style-type: none;
}
.drop-down{
    
    position: absolute;
   background-color: #2C2727;
    justify-content: center;
    align-items: center;
    width: 11.5%;
    margin-top: 80px;
}
